.compare-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  height: 1000px;
}

.top,
.bottom,
.recording-section,
.logout-section {
  width: 100%;
}

.top {
  height: auto;
  padding: 1rem;
  text-align: center;
}

.bottom {
  height: 500px;
}

.recording-buttons {
  display: flex;
  justify-content: space-between;
}

.transcript-line {
  display: flex;
  justify-content: space-between;
}

.language-section {
  display: flex;
}

.language-section select {
  width: 80px;
  height: 20px;
  margin: 16px 0px;
  margin-left: 3px;
}

.highlight-box,
.transcript-box {
  border: 1.5px solid #d2cece;
  border-radius: 10px;
  width: 100%;
  height: 100px;
}

.botton-right-top {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  /* Adjust styles for tablets and larger screens */
  .compare-container {
    padding: 3%;
    height: 100%;
  }

  .bottom,
  .recording-section,
  .logout-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  .top {
    height: 10rem;
    padding: 0;
    text-align: left;
  }

  .bottom {
    height: 25rem;
  }

  .recording-section,
  .language-and-score {
    margin-top: 0;
  }

  .recording-buttons {
    display: flex;
    justify-content: left;
  }

  .start-recording {
    margin-right: 5px;
  }

  .botton-right-top {
    display: flex;
    justify-content: space-between;
  }

  .transcript-box {
    height: 36.7%;
  }

  .highlight-box {
    height: 87%;
  }

  .logout-section {
    align-self: flex-start;
    margin-top: 1rem;
  }

  .logoutButton {
    width: 70px;
    height: 40px;
    margin-bottom: 1px;
  }
}
