.whisper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  height: 90vh;
}

.whisper-top,
.whisper-bottom,
.whisper-recording-section,
.whisper-logout-section {
  width: 100%;
}

.whisper-top {
  height: auto;
  padding: 1rem;
  text-align: center;
}

.whisper-bottom {
  height: 350px;
}

.whisper-compare-link {
  color: #4682b4;
}

.whisper-compare-link:hover {
  color: rgb(17, 76, 226);
}

.whisper-recording-buttons {
  display: flex;
  justify-content: space-between;
}

.whisper-transcript-line,
.whisper-language-section {
  display: flex;
  justify-content: space-between;
}

.whisper-language-section select {
  width: 80px;
  height: 20px;
  margin: 16px 0px;
  margin-left: 3px;
}

.whisper-transcript-box,
.whisper-upload-area {
  border: 1.5px solid #d2cece;
  border-radius: 10px;
  width: 100%;
  height: 100px;
}

.whisper-upload-area {
  border: 2px dashed #aaa;
  cursor: pointer;
  text-align: center;
}

.whisper-upload-buttons {
  display: flex;
  justify-content: right;
  height: 37px;
  margin: 8px 0px;
}

.whisper-file-upload-button {
  margin-left: 5px;
}

.whisper-upload-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 2rem;
}

.whisper-logout-section {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .whisper-container {
    padding: 3%;
    height: 100%;
  }

  .whisper-bottom,
  .whisper-recording-section,
  .whisper-logout-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  .whisper-top {
    height: 10rem;
    padding: 0;
    text-align: left;
  }

  .whisper-bottom {
    height: 25rem;
  }

  .whisper-recording-section {
    margin-top: 0;
  }

  .whisper-recording-buttons {
    display: flex;
    justify-content: left;
  }

  .whisper-file-upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .whisper-upload-area {
    height: 87%;
  }

  .whisper-upload-buttons {
    margin: 5px 0px;
  }

  .whisper-file-upload-button {
    width: 80px;
  }

  .whisper-file-choose-button {
    width: 100px;
  }

  .whisper-upload-top {
    margin: 0;
  }

  .whisper-upload-top label {
    width: 60%;
  }

  .whisper-dragging .upload-area {
    background-color: #f0f8ff;
    border-color: #4682b4;
  }

  .whisper-start-recording {
    margin-right: 5px;
  }

  .whisper-transcript-box,
  .whisper-upload-area {
    height: 87%;
  }

  .whisper-logout-section {
    width: 100%;
    margin-top: 1rem;
  }

  .whisper-logout-section button {
    width: 75px;
    height: 40px;
  }
}
