.whisper-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .whisper-title{
    margin-left: 40px;
  }

  .whisper-bottom-left {
    margin-left: 40px;
  }
  
  .whisper-transcript-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .whisper-transcript-line p{
    margin: 0;

  }

  .whisper-language-section {
    display: flex;
    margin-right: 47px;
  }
  .whisper-language-section select {
    margin-left: 5px;
    width: 80px;
    height: 20px;

  }
  
  .whisper-file-upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .whisper-upload-area {
    border: 2px dashed #aaa;

    border-radius: 10px;
    height: 25rem;
    width: 40rem;
    text-align: center;
    cursor: pointer;
  }

  .whisper-upload-top{
    height: 5rem;
    display: flex;
    align-items: flex-end;
  }

  .whisper-bottom-left-top {
    height: 5rem;
  }

  .whisper-file-upload-button {
    width: 80px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .whisper-file-choose-button {
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 310px;
  }


  .whisper-upload-top label {
    width: 133px;
  }

  .whisper-upload-area p {
    display: flex;
    margin-top: 180px;
    justify-content: center;
    height: 100%;
  }
  
  .whisper-dragging .upload-area {
    background-color: #f0f8ff; /* Change the background color when dragging */
    border-color: #4682b4; /* Change the border color when dragging */
  }
  
  .whisper-file-upload-section label {
    margin-right: 10px;
  }
  
  .whisper-recording-section {
    margin-bottom: 10px;
  }
  
  .whisper-start-recording {
    margin-right: 5px;
  }
  
  
  .whisper-transcript-box {
    border: 1.5px solid #d2cece;
    border-radius: 10px;
    width: 40rem;
    height: 25rem;
  }
  
  .whisper-logout-section {
    align-self: flex-start;
    margin-top: 10px;
  }
  
  .whisper-top{
    height: 10rem;
  }
  .whisper-top,
  .whisper-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .whisper-compare{
    margin-top: 10px;
  }