.register-main{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-css{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.form-css input{
  margin-left: 1rem;
  width: 10rem;
}

.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* 배경 색상 및 투명도 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* 다른 요소 위에 나타나도록 z-index 설정 */
}

.modal {
  color: #555555;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  width: 25%;
  height: 10rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
}


.modal button {
  border: solid 1px;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  background-color: #22194c;
  color: white;
  cursor: pointer;
}


.form-item{
  display: flex;
  align-items: center;
  justify-content: left;
}
.form-item label{
  width: 10rem;
  text-align: right;
}

.form-item span{
  font-size: 12px;
  color: gray;
  margin: 0 10px;
}

.submit-btn-space{
  margin-left: 1rem;
  width: 10rem;
  display: flex;
  justify-content: center;
}

.submit-btn{
  border: solid 1px #4EC0E9;
  color: #4EC0E9;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.submit-btn:hover{
  background-color: #4EC0E9;
  color: white;
  transition: 0.3s;
}
.check-user-btn{
  margin-left: 10px;
  border: solid 1px #FFCE52;
  color: #FFCE52;
  padding: 0.3rem 1rem;
  border-radius: 10px;
}
.check-user-btn:hover{
  background-color: #FFCE52;
  color: white;
  transition: 0.3s;
}

.whisper-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.language-section {
  align-self: flex-end;
  margin-bottom: 10px;
}

.file-upload-section {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.file-upload-section label {
  margin-right: 10px;
}

.recording-section {
  align-self: flex-start;
  margin-bottom: 10px;
}

.transcript-section {
  margin-top: 10px;
}

.logout-section {
  align-self: flex-start;
  margin-top: 10px;
}